.todoCard {
  display: relative;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 5px 5px 10px var(--black);
}

.todoCard h3 {
  margin: 0;
  margin-bottom: 5px;
}

.todoCard p {
  margin: 0;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.todoForm {
  background: var(--white);
  box-shadow: 5px 5px 10px var(--black);
}

.fieldset {
  border: none;
}

.textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: normal;
}

.deleteButton,
.changeButton,
.submitButton,
.returnButton {
  cursor: pointer;
}

.inputContainer {
  display: flex;
  margin-bottom: 5px;
}

.radioInput,
.label {
  cursor: pointer;
}
