.card {
  display: flex;
  justify-content: space-between;
  align-items:last baseline;
  padding: 20px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 4px 4px 0 var(--black);
}

.cardTitle {
  color: var(--primary);
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.cardText {
  color: var(--black);
  font-weight: 400;
  font-size: 13px;
  margin: 0;
}

.cardButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cardButton:not(:last-child) {
  margin-right: 20px;
}
