.addButton {
  position: fixed;
  bottom: 100px;
  right: 20px;
  color: white;
  font-size: 30px;
  background-color: var(--primary);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 var(--gray);
  cursor: pointer;
}

.addButton:hover {
  opacity: 0.6;
}

.addButton:active {
  opacity: 1;
}