html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #fafafa;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;
}

:root {
	--primary: #9395D3;
	--secondary: #B3B7EE50;
  --black: #3B434E;
	--white: white;
}
