.main {
  background-color: var(--secondary);
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.titleContainer {
  background-color: var(--primary);
}
.listContainer {
  
}

.mainTitle {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  padding: 25px 20px;
  margin: 0 0 20px 0;
}

.list {
  padding: 0 10px;
  margin: 0;
  list-style-type: none;
}

.listItem {
  margin-bottom: 20px;
}

